.faq-list {
  max-width: 800px;
  margin: 40px auto 0;
  text-align: left;
}

.faq-item {
  background-color: white;
  padding: 20px 30px;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.faq-item h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.faq-item p {
    color: var(--text-color);
}
